@use '@/utils/styles/mixin';

.wrapper {
  font-size: clamp(1.375rem, 1.303rem + 0.31vw, 1.5rem);

  @include mixin.tabletScreen {
    text-align: center;
  }

  & > * + * {
    margin-top: 0.5em;
  }
}
