@use '@/utils/styles/mixin';

.wrapper {
  background-color: var(--white);
}

.company {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 30px;
  }

  @include mixin.tabletScreen {
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    align-items: start;
  }
}

.summary {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 15px;
  }

  @include mixin.tabletScreen {
    gap: 20px;
  }
}

.name {
  font-size: clamp(1.125rem, 1.053rem + 0.31vw, 1.25rem); /* 18-20px */
}

.info {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 15px;
  }

  @include mixin.tabletScreen {
    gap: 20px;
  }
}

.address {
  display: grid;
}

.contact {
  display: flex;
  gap: 0.5em;
}

.map {
  width: 100%;

  @include mixin.tabletScreen {
    height: 300px;
  }
}
