@mixin smartphoneScreen {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tabletScreen {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptopScreen {
  @media (min-width: (1024px)) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      @content;
    }
  }
}

@mixin touch {
  @media (hover: none) {
    @content;
  }
}

@mixin srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip-path: inset(0);
}

@mixin spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin sideBySide {
  display: flex;
  flex-direction: column;

  @include tabletScreen {
    flex-direction: row;
    justify-content: space-between;
  }
}

@mixin sideBySideCenter {
  align-items: center;
  text-align: center;

  @include sideBySide;

  @include tabletScreen {
    text-align: left;
  }
}
