@use '@/utils/styles/mixin';

.cards {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 20px;
  }

  @include mixin.tabletScreen {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @include mixin.laptopScreen {
    gap: 40px;
  }
}

.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(33 35 37 / 12%);

  @include mixin.smartphoneScreen {
    gap: 20px;
    padding: 30px;
  }

  @include mixin.tabletScreen {
    gap: 30px;
    padding: 50px 30px;
  }

  @include mixin.laptopScreen {
    gap: 40px;
    padding: 80px;
  }
}

.head {
  display: grid;
  gap: 30px;
  place-items: center;
  width: 100%;
}

.heading {
  grid-area: 2 / 1 / 3 / 2;
}

.image {
  display: grid;
  grid-area: 1 / 1 / 2 / 2;
  place-items: center;
  width: min(160px, 35%);
  aspect-ratio: 1;
  overflow: hidden;
}

.term {
  font-weight: 700;
}
