@use '@/utils/styles/mixin';

.flexContainer {
  @include mixin.sideBySide;

  gap: 40px;
  place-items: center;
}

.text {
  flex: 1;
  color: var(--white);
}

.lead {
  margin-top: calc(var(--display) * 0.5);
}

.image {
  flex: 1;
}

.blur {
  filter: blur(8px);
  transition: filter 0.5s ease-in;
}

.removeBlur {
  filter: blur(0);
  transition: filter 0.5s ease-in;
}
