@use '@/utils/styles/mixin';

.flexContainer {
  @include mixin.sideBySide;

  gap: 40px;
  place-items: center;
}

.text {
  flex: 1;
}

.heading {
  font-size: var(--display);
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.05em;
  word-break: keep-all;
  overflow-wrap: anywhere;
}

.lead {
  margin-top: calc(var(--display) * 0.5);
  color: var(--white);
}

.image {
  flex: 1;
}

.blur {
  filter: blur(8px);
  transition: filter 0.5s ease-in;
}

.removeBlur {
  filter: blur(0);
  transition: filter 0.5s ease-in;
}
