@use '@/utils/styles/mixin';

.container {
  background: linear-gradient(135deg, var(--primary), #5067c5);
}

.gridContainer {
  display: grid;
  place-items: center;

  @include mixin.tabletScreen {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.textContainer {
  padding-top: calc(var(--display) * 1.5);
  padding-bottom: calc(var(--display) * 2);
}

.heading {
  font-size: var(--display);
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.05em;
}

.lead {
  margin-top: calc(var(--display) * 0.5);
  color: var(--white);
}

.blur {
  filter: blur(8px);
  transition: filter 0.5s ease-in;
}

.removeBlur {
  filter: blur(0);
  transition: filter 0.5s ease-in;
}
