@use '@/utils/styles/mixin';

.wrapper {
  padding: 50px 0;

  @include mixin.tabletScreen {
    padding: 80px 0;
  }

  &:first-of-type {
    padding: 100px 0 50px;

    @include mixin.tabletScreen {
      padding: 160px 0 80px;
    }
  }

  &[data-bgc='hero'] {
    background: linear-gradient(135deg, var(--primary), #5067c5);
  }

  &[data-bgc='base'] {
    background-color: var(--base);
  }
}
