@use '@/utils/styles/mixin';

.wrapper {
  padding: var(--space-xl) 0;
  color: var(--white);
  background-color: #232b33;
}

.flexContainer {
  @include mixin.sideBySideCenter;

  gap: 2em;
}

.nav {
  @include mixin.tabletScreen {
    display: flex;
    gap: 2em;
  }
}

.copyright {
  margin-top: var(--space-sm);
  font-size: clamp(0.75rem, 0.678rem + 0.31vw, 0.875rem);
  text-align: center;
}
