@use '@/utils/styles/mixin';

.wrapper {
  background-color: var(--base);
}

.steps {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 30px;
  }

  @include mixin.tabletScreen {
    gap: 40px;
  }
}

.step {
  position: relative;
  display: grid;
  place-items: start;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 7px 16px 0 rgb(0 0 0 / 7%);

  @include mixin.smartphoneScreen {
    gap: 10px;
    padding: 20px;
  }

  @include mixin.tabletScreen {
    gap: 15px;
    padding: 20px 30px;
  }

  &:not(:first-child)::before {
    position: absolute;
    top: 0;
    z-index: 10;
    display: block;
    content: '';
    border-left: 4px dotted #e5e5e5;

    @include mixin.smartphoneScreen {
      left: calc((86px / 2) + 20px);
      height: 50px;
      transform: translate(-60%, -50%);
    }

    @include mixin.tabletScreen {
      left: calc((86px / 2) + 30px);
      height: 60px;
      transform: translate(-50%, -66%);
    }
  }
}

.definitionlist {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 5px;
  }

  @include mixin.tabletScreen {
    gap: 10px;
  }
}

.heading {
  font-weight: 700;
  color: var(--primary);
}

.num {
  z-index: 50;
  padding: 4px 15px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(135deg, var(--primary), #5067c5);
  border-radius: 18px;
}
