@use '@/utils/styles/mixin';

.btn {
  @include mixin.smartphoneScreen {
    all: unset;
    position: relative;
    z-index: 200;
    display: grid;
    place-items: center;
    cursor: pointer;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
  }

  @include mixin.tabletScreen {
    display: none;
  }
}

.btn::before,
.btn::after,
.btn .bar {
  @include mixin.smartphoneScreen {
    display: block;
    grid-area: 1 / 1;
    width: 32px;
    height: 2px;
    content: '';
    background-color: currentcolor;
    transition: transform 0.4s;
  }
}

.close .btn {
  @include mixin.smartphoneScreen {
    color: var(--black);
  }

  &::before {
    @include mixin.smartphoneScreen {
      transform: translateY(-8px);
    }
  }

  &::after {
    @include mixin.smartphoneScreen {
      transform: translateY(8px);
    }
  }
}

.open .btn {
  @include mixin.smartphoneScreen {
    color: var(--white);
  }

  &::before {
    @include mixin.smartphoneScreen {
      transform: rotate(45deg);
    }
  }

  &::after {
    @include mixin.smartphoneScreen {
      transform: rotate(-45deg);
    }
  }

  .bar {
    @include mixin.smartphoneScreen {
      transform: scale(0);
    }
  }
}

.srOnly {
  @include mixin.srOnly;
}

.list {
  font-weight: 700;

  @include mixin.smartphoneScreen {
    position: fixed;
    inset: 0 -100% 0 100%;
    z-index: 100;
    display: grid;
    gap: 40px;
    place-content: center;
    color: var(--white);
    text-align: center;
    background-color: rgb(0 0 0 / 80%);
    transition: transform 0.4s;
  }

  @include mixin.tabletScreen {
    display: flex;
    gap: 2em;
    font-size: clamp(0.875rem, 0.5rem + 0.78vw, 1rem);
  }
}

.open .list {
  @include mixin.smartphoneScreen {
    transform: translateX(-100%);
  }
}

.link {
  @include mixin.hover {
    color: var(--primary);
  }

  @include mixin.touch {
    -webkit-tap-highlight-color: transparent;
  }

  &:active {
    @include mixin.touch {
      color: var(--primary);
    }
  }
}
