@use '@/utils/styles/mixin';

.expert {
  display: grid;
  place-content: center;
}

.gridContainer {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 30px;
  }

  @include mixin.tabletScreen {
    grid-template-columns: auto 1fr;
    gap: 45px;
    align-items: start;
  }
}

.image {
  display: grid;
  place-content: center;

  @include mixin.tabletScreen {
    width: 230px;
  }

  @include mixin.tabletScreen {
    width: auto;
  }

  img {
    aspect-ratio: 434 / 446;
  }
}

.points {
  display: grid;

  @include mixin.smartphoneScreen {
    gap: 20px;
  }

  @include mixin.tabletScreen {
    gap: 30px;
  }
}

.point {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5em;
  place-items: center start;
  justify-content: start;

  &::before {
    display: inline-block;
    width: 30px;
    aspect-ratio: 1;
    content: '';
    background-image: url('/images/icon_circle-check-solid-full.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.btn {
  display: grid;
  place-content: center;

  @include mixin.smartphoneScreen {
    margin-top: 20px;
  }

  @include mixin.tabletScreen {
    margin-top: 40px;
  }
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 180px;
  padding: 0.667em 30px 0.556em;
  font-size: clamp(1.125rem, 1.053rem + 0.31vw, 1.25rem); /* 18-20px */
  font-weight: 700;
  color: var(--white);
  letter-spacing: unset;
  text-decoration: none;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 8px rgb(20 19 19 / 50%);
  transition: all 0.3s;

  @include mixin.hover {
    transform: scale(1.1);
  }
}
